@font-face {
  font-family: CustomYuGothic;
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}

@font-face {
  font-family: CustomYuGothic;
  font-weight: bold;
  src: local("YuGothic-Bold"), local("Yu Gothic");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans", "Hiragino Kaku Gothic ProN", CustomYuGothic, Meiryo, sans-serif;
  font-feature-settings: "palt";
}
